{% load i18n staticfiles admin_tools_menu_tags %}
{% if menu.children %}
<script type="text/javascript" charset="utf-8">
    // Load js files syncronously and conditionally
    var js_files = [
        {% for js in menu.Media.js %},
        {
            src : '{% static js %}',
            test: function() { return true; }
        }{% endfor %}
    ];

</script>

<ul id="navigation-menu">
    {% for item in menu.children %}{% admin_tools_render_menu_item item forloop.counter %}{% endfor %}
</ul>
{% endif %}
